[Unit]
Description="GGDealsScraper service"

[Service]
Type=simple
User=ggdealsscraper
Group=services
WorkingDirectory=/path/to/working/directory
ExecStart=/path/to/change.sh
TimeoutStartSec=0
RemainAfterExit=yes